@model IEnumerable<ST10131083_DAF.Models.Dashboard.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card dashboard-area">
                <div class=" card-header dashboard-header p-3">
                    <h2>Categories</h2>
                </div>
                <span class="m-3">
                    <a asp-action="Create" asp-controller="Categories" class="btn btn-primary btn-lg btn-thm thm-colorbg-pr ms-2">Create New</a>
                </span>
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Category ID</th>
                            <th>Category Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>@item.CategoryId</td>
                                <td>@item.CategoryName</td>
                                    
                                    @*@Html.DisplayFor(modelItem => item.CategoryName)*@
                             
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



